/* Code tidied up by ScrapBook */
.valuta { color: rgb(0, 0, 0); font-family: arial; font-weight: bold; font-size: 9pt; }
.kurs_name { color: rgb(0, 0, 0); font-family: arial; font-weight: bold; font-size: 9pt; }
.kurs_kurs { color: rgb(153, 0, 0); font-family: arial; font-weight: bold; font-size: 9pt; }
.kurs_short_name { color: rgb(0, 0, 0); font-family: arial; font-weight: normal; font-size: 9pt; }
