/* Code tidied up by ScrapBook */
@font-face {
  font-family: "PT Serif Caption";
  font-style: italic;
  font-weight: 400;
  src: url("ieVj2ZhbGCW-JoW6S34pSDpqYKU019eLAgM9UvI.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: italic;
  font-weight: 400;
  src: url("ieVj2ZhbGCW-JoW6S34pSDpqYKU019eLCwM9UvI.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: italic;
  font-weight: 400;
  src: url("ieVj2ZhbGCW-JoW6S34pSDpqYKU019eLAQM9UvI.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: italic;
  font-weight: 400;
  src: url("ieVj2ZhbGCW-JoW6S34pSDpqYKU019eLDwM9.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: url("ieVl2ZhbGCW-JoW6S34pSDpqYKU019-7DRs5.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: url("ieVl2ZhbGCW-JoW6S34pSDpqYKU019a7DRs5.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: url("ieVl2ZhbGCW-JoW6S34pSDpqYKU019y7DRs5.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: url("ieVl2ZhbGCW-JoW6S34pSDpqYKU019K7DQ.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
