/* Code tidied up by ScrapBook */
#leftmenu { list-style: outside none none; margin: 0px; padding: 0px; border: 0px none; font: inherit; }
.leftmenu { padding-top: 5px; }
.leftmenu ul { z-index: 100; list-style: outside none none; padding: 0px; margin-top: 0px; display: block; }
.leftmenu a { text-decoration: none; }
li.lipodcatmenu1 { width: 185px; margin-top: 2px; border-radius: 5px; margin-left: 10px; margin-right: 5px; display: block; background-image: url("secbutfon.png"); background-repeat: repeat-x; border: 2px solid rgb(11, 193, 57); vertical-align: middle; padding-left: 10px; text-align: center; }
A.podcatmenu1 { font-family: arial; font-size: 16px; line-height: 120%; color: rgb(36, 36, 36); }
A.podcatmenu1:hover { color: rgb(66, 108, 13); }
.sidelink, .sidelinkactive { font-size: 17px; font-family: "Tahoma",serif; text-decoration: none; font-weight: normal; padding-left: 18px; padding-right: 15px; width: 190px; padding-top: 10px; height: 29px; display: block; background-image: url("leftbutfon.jpg"); background-repeat: no-repeat; color: rgb(0, 0, 0); margin-top: 2px; text-align: center; vertical-align: middle; }
A.sidelink:hover { background-image: url("leftbutfonhover.jpg"); background-repeat: no-repeat; }
.dvesidelink, .dvesidelinkactive { font-size: 17px; font-family: "Tahoma",serif; text-decoration: none; font-weight: normal; padding-left: 18px; padding-right: 15px; width: 190px; padding-top: 2px; height: 37px; display: block; background-image: url("leftbutfon.jpg"); background-repeat: no-repeat; color: rgb(0, 0, 0); margin-top: 2px; text-align: center; vertical-align: middle; }
A.dvesidelink:hover { background-image: url("leftbutfonhover.jpg"); background-repeat: no-repeat; }
.trisidelink, .trisidelinkactive { font-size: 17px; font-family: "Tahoma",serif; text-decoration: none; font-weight: normal; padding-left: 18px; padding-right: 15px; line-height: 90%; width: 190px; padding-top: 2px; height: 47px; display: block; background-image: url("visleftbutfon.png"); background-repeat: no-repeat; color: rgb(0, 0, 0); margin-top: 2px; text-align: center; vertical-align: middle; }
A.trisidelink:hover { background-image: url("visleftbutfonhover.png"); background-repeat: no-repeat; }
