/* Code tidied up by ScrapBook */
.sliderkit { display: none; position: relative; overflow: hidden; text-align: left; margin: 0px; padding: 0px; }
.sliderkit a, .sliderkit a:hover { text-decoration: none; }
.sliderkit a:focus { outline: 1px dotted rgb(0, 0, 0); }
.sliderkit img { border: 0px none; }
.sliderkit .sliderkit-nav { z-index: 10; position: absolute; text-align: center; }
.sliderkit .sliderkit-nav-clip { position: relative; overflow: hidden; margin: 0px auto; }
.sliderkit .sliderkit-nav-clip ul { position: relative; left: 0px; top: 0px; list-style: outside none none; margin: 0px; padding: 0px; }
.sliderkit .sliderkit-nav-clip ul li { float: left; }
.sliderkit .sliderkit-nav-clip ul li a { display: block; overflow: hidden; }
.sliderkit .sliderkit-btn { z-index: 10; }
