/* Code tidied up by ScrapBook */
.carousel-demo1 { width: 710px; height: 174px; background-color: rgb(237, 237, 237); box-shadow: 0px 0px 5px rgb(64, 49, 10); border-radius: 20px; text-align: center; vertical-align: middle; }
.carousel-demo1 .sliderkit-nav { left: 0px; bottom: 0px; width: 685px; height: 160px; padding: 6px 6px 6px 10px; }
.carousel-demo1 .sliderkit-nav-clip ul li { float: left; margin: 0px 5px 0px 0px; }
.carousel-demo1 .sliderkit-nav-clip ul li a { display: block; width: 160px; height: 160px; overflow: hidden; margin: 0px; opacity: 1; }
.carousel-demo1 .sliderkit-nav-clip ul li a:hover { opacity: 0.8; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-btn { position: absolute; top: 0px; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-btn span { display: none; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-btn a { display: block; width: 15px; height: 174px; background: transparent url("arrows-h.png") no-repeat scroll center 0px; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-prev { left: 5px; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-next { right: 0px; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-prev a { background-position: -89px center; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-next a { background-position: -108px center; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-prev a:hover, .carousel-demo1 .sliderkit-nav .sliderkit-nav-prev a:focus { background-position: -126px center; }
.carousel-demo1 .sliderkit-nav .sliderkit-nav-next a:hover, .carousel-demo1 .sliderkit-nav .sliderkit-nav-next a:focus { background-position: -145px center; }
