/* Code tidied up by ScrapBook */
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-size: 100%; }
body { background-color: rgb(255, 255, 255); background-attachment: fixed; }
body { line-height: 1; }
table { border-collapse: collapse; border-spacing: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body { font-family: Arial,serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); }
#pagecontainer { width: 100%; background-color: rgb(255, 255, 255); min-width: 1256px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); background-image: url("topbg.png"); background-repeat: repeat-x; }
#infofon { margin: 0px auto; width: 1256px; }
#wrapper { float: left; width: 100%; margin-left: 1px; }
#zapros { margin-bottom: 5px; color: rgb(255, 255, 255); }
#pageheader { width: 1256px; margin: 0px auto; padding: 0px; height: 172px; line-height: 0; }
#order {  }
#toplogo, #toptitle { padding-left: 0px; padding-top: 0px; float: left; }
#topimage { padding-left: 150px; padding-top: 0px; float: left; }
#toplogo img, #toptitle img { display: block; }
p.title1 { padding-top: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 42px; line-height: 87%; text-align: center; text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.65); }
.headerphone { padding-right: 20px; line-height: 120%; text-align: right; font-family: "Arial Narrow"; font-size: 22px; }
#headercall { float: right; width: 220px; padding-top: 20px; padding-right: 25px; line-height: 100%; font-family: "Arial Narrow"; font-size: 26px; color: rgb(23, 23, 23); text-align: center; }
.content { background-color: rgb(255, 255, 255); }
#infocontent { position: relative; padding: 10px 0px 10px 10px; color: rgb(34, 34, 34); line-height: 1.5; }
#infocontent table td { border-collapse: collapse; border-spacing: 0px; padding: 2px; margin: 1px; }
#infocontent h1 { color: rgb(22, 45, 55); font-size: 16px; margin: 0px 0px 10px; }
main.content img { margin-left: 5px; margin-right: 5px; border: 0px none; }
#leftcolumn { position: relative; float: left; width: 230px; margin-left: -1256px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px solid blue; padding-top: 5px; }
#footer { clear: left; width: 100%; background-image: url("bottomfonsmall.png"); background-repeat: repeat-x; background-position: left bottom; min-height: 136px; background-color: rgb(0, 57, 126); color: rgb(255, 255, 255); border: 0px solid orange; line-height: 100%; }
#footer table { height: 136px; }
.copyright { font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; line-height: 100%; color: rgb(255, 255, 255); }
.footercontact { font-family: Arial,Helvetica,sans-serif; font-size: 13px; line-height: 130%; color: rgb(255, 255, 255); text-align: left; padding-top: 0px; padding-bottom: 2px; display: block; }
#topnavmenu { clear: both; margin-top: 11px; height: 47px; display: block; width: 100%; background-color: rgb(0, 112, 156); background-image: url("topmenubg.png"); background-repeat: repeat-x; }
.copywarn { font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 120%; color: rgb(255, 255, 255); text-align: left; padding-top: 10px; }
#topmenuright { float: right; }
H1.pagetitle { color: rgb(22, 45, 55); font-size: 20px; text-transform: uppercase; }
#searchbox { font-size: 1px; float: right; margin-top: 0px; margin-right: 25px; padding-top: 0px; }
#searchform { position: relative; border-radius: 10px; left: 0px; top: 0px; width: 360px; height: 22px; vertical-align: top; background-color: rgb(255, 255, 255); border-width: 1px; border-style: outset; border-color: rgb(97, 106, 108); color: rgb(163, 163, 163); font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; margin-top: 10px; padding-left: 5px; }
#searchbut { position: relative; left: 10px; margin-top: 11px; }
#searchforma {  }
.sideboxnew { font-family: arial; font-size: 12px; color: rgb(51, 51, 51); }
.develop { font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 120%; color: rgb(255, 255, 255); text-align: left; padding-top: 10px; }
.developer, A.developer, A.developer:link, A.developer:hover, A.developer:visited { color: rgb(84, 124, 146); font-family: arial; font-size: 10px; vertical-align: bottom; line-height: 1; }
